@import "tailwindcss";
@plugin "@tailwindcss/typography";
html, body {
  background-color: #ffffff;
  scrollbar-gutter: stable;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #242327;
  }
}